# Analyzing AirBnB data for Washington DC
This project dives deep into the AirBnB data for Washington DC. Washington DC, as the capital of the United States, has recently been attracting a lot of re-development. In fact, Amazon announced recently that they will have the second head-quarter in Northen Virginia, which is just a several miles away into DC. Also, personally this is where I live and it makes the project more interesting for me.

## CRISP-DM
CRISP-DM (Cross Industry Standard Process for Data Mining) is the standard process to follow across various industries when mining and analyzing data. Specifically, CRISP-DM follows the below steps:
<b>
1. Business Understanding
2. Data Understanding
3. Data Preparation
4. Data Modeling
5. Evaluate the results
6. Delopyment
</b>
In this notebook, we are going to follow the process above for the analysis of AirBnB data for Washington DC.

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

### Business Understanding
The first part of the CRISP-DM is to understand the business problems. Key questions I would like to answer through this analysis are:
<b>
1. What are the factors affecting the rental price?
2. When is the most expensive/inexpensive to stay in DC?
3. How is the price volatility?
</b>
By understanding the first question, the hosts are able to take appropriate actions (e.g. investing in one of the amenities users value particularly) in order to maximize their revenue. Also, from AirBnB users perspective, understading the question 2) ad 3) help make judgement about their travel time.

### Data Understanding ad Data Preparation
The second and the third part of the CRISP-DM is data understanding and data preparation. Let's first read the data. We are going to use "listings.csv" data to understand the factors affecting the price. To understand the seasonal trend and volatility, we are going to use "calendar.csv" as it contains the price history.

In [102]:
dc_listings = pd.read_csv('.\\data\\DC\\listings.csv')
dc_calendar = pd.read_csv('.\\data\\DC\\calendar.csv',index_col='date', parse_dates=True)

C:\Users\owner\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Listings Data
We are going to start with Listings Data

In [5]:
dc_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,3362,https://www.airbnb.com/rooms/3362,20181115100708,2018-11-15,"Convention Center Rowhouse & In Law: 2 Units, 4BR",An architect-designed rowhouse featuring a lar...,This listing features our 19th century Victori...,An architect-designed rowhouse featuring a lar...,none,NaN,...,f,NaN,"{""DISTRICT OF COLUMBIA"","" WASHINGTON""}",t,f,strict_14_with_grace_period,f,f,5,1.27
1,3662,https://www.airbnb.com/rooms/3662,20181115100708,2018-11-15,Vita's Hideaway II,IMPORTANT NOTES * Carefully read and be sure t...,IMPORTANT NOTES * Airbnb keeps accurate track ...,IMPORTANT NOTES * Carefully read and be sure t...,none,We love that our neighborhood is up and coming...,...,f,NaN,"{""DISTRICT OF COLUMBIA"","" WASHINGTON""}",f,f,moderate,f,f,3,0.38
2,3686,https://www.airbnb.com/rooms/3686,20181115100708,2018-11-15,Vita's Hideaway,IMPORTANT NOTES * Carefully read and be sure t...,IMPORTANT NOTES * Airbnb keeps accurate track ...,IMPORTANT NOTES * Carefully read and be sure t...,none,We love that our neighborhood is up and coming...,...,f,NaN,"{""DISTRICT OF COLUMBIA"","" WASHINGTON""}",f,f,moderate,f,f,3,0.69
3,3771,https://www.airbnb.com/rooms/3771,20181115100708,2018-11-15,Mt. Pleasant,"Clean, convenient and welcoming home. Bedroom...","Spacious, clean, convenient and welcoming home...","Clean, convenient and welcoming home. Bedroom...",none,NaN,...,f,NaN,"{""DISTRICT OF COLUMBIA"","" WASHINGTON""}",f,f,moderate,f,f,1,0.01
4,4002,https://www.airbnb.com/rooms/4002,20181115100708,2018-11-15,2 Bedroom Private Condo Suite (Basement Apt),This is a very large beautiful English BASEMEN...,This is a very large (1400 SQ feet) beautiful ...,This is a very large beautiful English BASEMEN...,none,This is a very quite neighborhood.,...,f,NaN,"{""DISTRICT OF COLUMBIA"","" WASHINGTON""}",t,f,flexible,f,t,1,1.25

In [6]:
dc_listings.isnull().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                   4
summary                              224
space                               2608
description                           73
experiences_offered                    0
neighborhood_overview               3112
notes                               4942
transit                             2836
access                              3159
interaction                         3406
house_rules                         3430
thumbnail_url                       9369
medium_url                          9369
picture_url                            0
xl_picture_url                      9369
host_id                                0
host_url                               0
host_name                              1
host_since                             1
host_location                         33
host_about                          3372
host_response_time                  3921
host_response_rate                  3921
host_acceptance_rate                9369
host_is_superhost                      1
host_thumbnail_url                     1
                                    ...
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                       0
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
calendar_last_scraped                  0
number_of_reviews                      0
first_review                        2096
last_review                         2094
review_scores_rating                2214
review_scores_accuracy              2225
review_scores_cleanliness           2224
review_scores_checkin               2230
review_scores_communication         2223
review_scores_location              2229
review_scores_value                 2233
requires_license                       0
license                             9369
jurisdiction_names                    18
instant_bookable                       0
is_business_travel_ready               0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                   2096
Length: 96, dtype: int64

You can see that there are many columns which have many missing data points. Let's remove columns with more than 100 data points missing.

In [7]:
dc_listings = dc_listings[dc_listings.columns[dc_listings.isnull().sum()<100]]
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9369 entries, 0 to 9368
Data columns (total 61 columns):
id                                  9369 non-null int64
listing_url                         9369 non-null object
scrape_id                           9369 non-null int64
last_scraped                        9369 non-null object
name                                9365 non-null object
description                         9296 non-null object
experiences_offered                 9369 non-null object
picture_url                         9369 non-null object
host_id                             9369 non-null int64
host_url                            9369 non-null object
host_name                           9368 non-null object
host_since                          9368 non-null object
host_location                       9336 non-null object
host_is_superhost                   9368 non-null object
host_thumbnail_url                  9368 non-null object
host_picture_url                    9368 non-null object
host_listings_count                 9368 non-null float64
host_total_listings_count           9368 non-null float64
host_verifications                  9369 non-null object
host_has_profile_pic                9368 non-null object
host_identity_verified              9368 non-null object
street                              9369 non-null object
neighbourhood_cleansed              9369 non-null object
city                                9367 non-null object
state                               9358 non-null object
market                              9340 non-null object
smart_location                      9369 non-null object
country_code                        9369 non-null object
country                             9369 non-null object
latitude                            9369 non-null float64
longitude                           9369 non-null float64
is_location_exact                   9369 non-null object
property_type                       9369 non-null object
room_type                           9369 non-null object
accommodates                        9369 non-null int64
bathrooms                           9360 non-null float64
bedrooms                            9361 non-null float64
beds                                9357 non-null float64
bed_type                            9369 non-null object
amenities                           9369 non-null object
price                               9369 non-null object
guests_included                     9369 non-null int64
extra_people                        9369 non-null object
minimum_nights                      9369 non-null int64
maximum_nights                      9369 non-null int64
calendar_updated                    9369 non-null object
has_availability                    9369 non-null object
availability_30                     9369 non-null int64
availability_60                     9369 non-null int64
availability_90                     9369 non-null int64
availability_365                    9369 non-null int64
calendar_last_scraped               9369 non-null object
number_of_reviews                   9369 non-null int64
requires_license                    9369 non-null object
jurisdiction_names                  9351 non-null object
instant_bookable                    9369 non-null object
is_business_travel_ready            9369 non-null object
cancellation_policy                 9369 non-null object
require_guest_profile_picture       9369 non-null object
require_guest_phone_verification    9369 non-null object
calculated_host_listings_count      9369 non-null int64
dtypes: float64(7), int64(13), object(41)
memory usage: 4.4+ MB

Now we see that most of the columns have valid data entries. Additionally, let's drop the following columns as these columns should not have any implication in terms of price.

In [8]:
drop_cols = ['listing_url',
            'scrape_id',
             'name',
             'picture_url',
             'host_location',
             'host_id',
             'host_name',
             'host_url',
             'host_thumbnail_url',
             'host_picture_url',
            ]

In [9]:
dc_listings = dc_listings.drop(drop_cols, axis=1)
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9369 entries, 0 to 9368
Data columns (total 51 columns):
id                                  9369 non-null int64
last_scraped                        9369 non-null object
description                         9296 non-null object
experiences_offered                 9369 non-null object
host_since                          9368 non-null object
host_is_superhost                   9368 non-null object
host_listings_count                 9368 non-null float64
host_total_listings_count           9368 non-null float64
host_verifications                  9369 non-null object
host_has_profile_pic                9368 non-null object
host_identity_verified              9368 non-null object
street                              9369 non-null object
neighbourhood_cleansed              9369 non-null object
city                                9367 non-null object
state                               9358 non-null object
market                              9340 non-null object
smart_location                      9369 non-null object
country_code                        9369 non-null object
country                             9369 non-null object
latitude                            9369 non-null float64
longitude                           9369 non-null float64
is_location_exact                   9369 non-null object
property_type                       9369 non-null object
room_type                           9369 non-null object
accommodates                        9369 non-null int64
bathrooms                           9360 non-null float64
bedrooms                            9361 non-null float64
beds                                9357 non-null float64
bed_type                            9369 non-null object
amenities                           9369 non-null object
price                               9369 non-null object
guests_included                     9369 non-null int64
extra_people                        9369 non-null object
minimum_nights                      9369 non-null int64
maximum_nights                      9369 non-null int64
calendar_updated                    9369 non-null object
has_availability                    9369 non-null object
availability_30                     9369 non-null int64
availability_60                     9369 non-null int64
availability_90                     9369 non-null int64
availability_365                    9369 non-null int64
calendar_last_scraped               9369 non-null object
number_of_reviews                   9369 non-null int64
requires_license                    9369 non-null object
jurisdiction_names                  9351 non-null object
instant_bookable                    9369 non-null object
is_business_travel_ready            9369 non-null object
cancellation_policy                 9369 non-null object
require_guest_profile_picture       9369 non-null object
require_guest_phone_verification    9369 non-null object
calculated_host_listings_count      9369 non-null int64
dtypes: float64(7), int64(11), object(33)
memory usage: 3.6+ MB

Additionally, since the location information is already contained in the latitude and the longitude, we can drop the following columns.

In [10]:
drop_loc_cols = ['street',
                'city',
                'state',
                'country_code',
                'country',
                'jurisdiction_names']

In [11]:
dc_listings = dc_listings.drop(drop_loc_cols, axis=1)
dc_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9369 entries, 0 to 9368
Data columns (total 45 columns):
id                                  9369 non-null int64
last_scraped                        9369 non-null object
description                         9296 non-null object
experiences_offered                 9369 non-null object
host_since                          9368 non-null object
host_is_superhost                   9368 non-null object
host_listings_count                 9368 non-null float64
host_total_listings_count           9368 non-null float64
host_verifications                  9369 non-null object
host_has_profile_pic                9368 non-null object
host_identity_verified              9368 non-null object
neighbourhood_cleansed              9369 non-null object
market                              9340 non-null object
smart_location                      9369 non-null object
latitude                            9369 non-null float64
longitude                           9369 non-null float64
is_location_exact                   9369 non-null object
property_type                       9369 non-null object
room_type                           9369 non-null object
accommodates                        9369 non-null int64
bathrooms                           9360 non-null float64
bedrooms                            9361 non-null float64
beds                                9357 non-null float64
bed_type                            9369 non-null object
amenities                           9369 non-null object
price                               9369 non-null object
guests_included                     9369 non-null int64
extra_people                        9369 non-null object
minimum_nights                      9369 non-null int64
maximum_nights                      9369 non-null int64
calendar_updated                    9369 non-null object
has_availability                    9369 non-null object
availability_30                     9369 non-null int64
availability_60                     9369 non-null int64
availability_90                     9369 non-null int64
availability_365                    9369 non-null int64
calendar_last_scraped               9369 non-null object
number_of_reviews                   9369 non-null int64
requires_license                    9369 non-null object
instant_bookable                    9369 non-null object
is_business_travel_ready            9369 non-null object
cancellation_policy                 9369 non-null object
require_guest_profile_picture       9369 non-null object
require_guest_phone_verification    9369 non-null object
calculated_host_listings_count      9369 non-null int64
dtypes: float64(7), int64(11), object(27)
memory usage: 3.2+ MB

Some of the features here are self-explanatory, but some are not. In particular, 'object' type

In [12]:
dc_listings['market'].value_counts()

D.C.                     9336
Santiago                    1
Other (International)       1
Dubai                       1
Toms River                  1
Name: market, dtype: int64

In [13]:
dc_listings['experiences_offered'].value_counts()

none    9369
Name: experiences_offered, dtype: int64

In [14]:
dc_listings['host_verifications'].value_counts()

['email', 'phone', 'reviews', 'kba']                                                                                                                              1254
['email', 'phone', 'reviews']                                                                                                                                      882
['email', 'phone', 'reviews', 'jumio', 'government_id']                                                                                                            700
['email', 'phone']                                                                                                                                                 674
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                                   465
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                      406
['email', 'phone', 'facebook', 'reviews', 'kba']                                                                                                                   400
['email', 'phone', 'reviews', 'jumio', 'government_id', 'work_email']                                                                                              365
['email', 'phone', 'reviews', 'kba', 'work_email']                                                                                                                 362
['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id']                                                                                                198
['email', 'phone', 'facebook', 'reviews', 'kba', 'work_email']                                                                                                     189
['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                       177
['email', 'phone', 'facebook', 'reviews']                                                                                                                          163
['phone']                                                                                                                                                          141
['email', 'phone', 'reviews', 'work_email']                                                                                                                        115
['email', 'phone', 'google', 'reviews', 'kba']                                                                                                                     114
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']                                        107
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']                                                                     102
['email', 'phone', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                                 100
['email', 'phone', 'google', 'reviews', 'kba', 'work_email']                                                                                                        97
['email', 'phone', 'facebook']                                                                                                                                      90
['email', 'phone', 'jumio', 'offline_government_id', 'government_id']                                                                                               76
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'government_id']                                                                             72
['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                           70
['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']                                                70
['email', 'phone', 'facebook', 'reviews', 'jumio', 'government_id', 'work_email']                                                                                   70
['email', 'phone', 'facebook', 'reviews', 'jumio', 'offline_government_id', 'government_id', 'work_email']                                                          66
['email', 'phone', 'jumio', 'government_id', 'work_email']                                                                                                          63
['email', 'phone', 'google', 'reviews', 'jumio', 'government_id']                                                                                                   57
['phone', 'reviews']                                                                                                                                                51
                                                                                                                                                                  ...
['email', 'phone', 'reviews', 'offline_government_id', 'selfie', 'government_id', 'work_email']                                                                      1
['email', 'phone', 'facebook', 'reviews', 'manual_offline', 'jumio']                                                                                                 1
['email', 'phone', 'facebook', 'jumio', 'kba', 'government_id']                                                                                                      1
['phone', 'kba']                                                                                                                                                     1
['email', 'phone', 'manual_offline']                                                                                                                                 1
['email', 'phone', 'google', 'work_email']                                                                                                                           1
['email', 'google', 'reviews', 'jumio', 'offline_government_id', 'government_id']                                                                                    1
['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'selfie', 'government_id', 'identity_manual', 'work_email']       1
['email', 'phone', 'facebook', 'manual_offline', 'jumio', 'government_id']                                                                                           1
['email', 'phone', 'facebook', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']                                                1
['email', 'phone', 'zhima_selfie']                                                                                                                                   1
['phone', 'reviews', 'work_email']                                                                                                                                   1
['phone', 'reviews', 'offline_government_id', 'kba', 'selfie', 'government_id', 'identity_manual']                                                                   1
['email', 'phone', 'google', 'reviews', 'jumio', 'kba', 'government_id']                                                                                             1
['email', 'phone', 'manual_online', 'facebook', 'reviews', 'manual_offline', 'work_email']                                                                           1
['email', 'phone', 'facebook', 'offline_government_id', 'selfie', 'government_id', 'identity_manual']                                                                1
['email', 'phone', 'facebook', 'reviews', 'offline_government_id', 'government_id', 'work_email']                                                                    1
['email', 'phone', 'google', 'reviews', 'selfie']                                                                                                                    1
['email', 'phone', 'jumio', 'selfie', 'government_id', 'identity_manual']                                                                                            1
['phone', 'reviews', 'kba', 'work_email']                                                                                                                            1
['email', 'phone', 'facebook', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']                                                                             1
['email', 'phone', 'manual_online', 'reviews', 'manual_offline', 'jumio', 'offline_government_id', 'government_id', 'work_email']                                    1
['email', 'phone', 'jumio', 'offline_government_id', 'kba', 'selfie', 'government_id']                                                                               1
['email', 'phone', 'facebook', 'reviews', 'manual_offline', 'jumio', 'government_id', 'work_email']                                                                  1
['email', 'phone', 'jumio', 'offline_government_id', 'kba', 'government_id']                                                                                         1
None                                                                                                                                                                 1
['email', 'phone', 'facebook', 'google', 'reviews']                                                                                                                  1
['email', 'phone', 'selfie']                                                                                                                                         1
['email', 'phone', 'facebook', 'google', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']                                                                   1
['email', 'phone', 'google', 'reviews', 'jumio', 'kba', 'government_id', 'work_email']                                                                               1
Name: host_verifications, Length: 252, dtype: int64

We can drop these features
'market': Almost all the entries are D.C. as it's supposed to be.
'experiences_offered': All the entries are 'none'
'host_verifications': It looks like how the host is verified. But intuitively how the host is verified should not affect the listing price.

In [16]:
drop_cols = ['experiences_offered',
                 'host_verifications',
                 'market']
dc_listings = dc_listings.drop(drop_cols, axis=1)
dc_listings.isnull().sum()

id                                   0
last_scraped                         0
description                         73
host_since                           1
host_is_superhost                    1
host_listings_count                  1
host_total_listings_count            1
host_has_profile_pic                 1
host_identity_verified               1
neighbourhood_cleansed               0
smart_location                       0
latitude                             0
longitude                            0
is_location_exact                    0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            9
bedrooms                             8
beds                                12
bed_type                             0
amenities                            0
price                                0
guests_included                      0
extra_people                         0
minimum_nights                       0
maximum_nights                       0
calendar_updated                     0
has_availability                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
calendar_last_scraped                0
number_of_reviews                    0
requires_license                     0
instant_bookable                     0
is_business_travel_ready             0
cancellation_policy                  0
require_guest_profile_picture        0
require_guest_phone_verification     0
calculated_host_listings_count       0
dtype: int64

There seems to be record which has null in host information (host_since, host_is_super_host, host_listings_count etc). Let's remove this record.

In [17]:
dc_listings = dc_listings[pd.notnull(dc_listings['host_since'])]
dc_listings.isnull().sum()

id                                   0
last_scraped                         0
description                         73
host_since                           0
host_is_superhost                    0
host_listings_count                  0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
smart_location                       0
latitude                             0
longitude                            0
is_location_exact                    0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            9
bedrooms                             8
beds                                12
bed_type                             0
amenities                            0
price                                0
guests_included                      0
extra_people                         0
minimum_nights                       0
maximum_nights                       0
calendar_updated                     0
has_availability                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
calendar_last_scraped                0
number_of_reviews                    0
requires_license                     0
instant_bookable                     0
is_business_travel_ready             0
cancellation_policy                  0
require_guest_profile_picture        0
require_guest_phone_verification     0
calculated_host_listings_count       0
dtype: int64

There are still 3 features which has missing values. These are numerical features, and they can be filled with median value.

In [18]:
dc_listings['beds'] = dc_listings['beds'].fillna(dc_listings['beds'].median())
dc_listings['bathrooms'] = dc_listings['bathrooms'].fillna(dc_listings['bathrooms'].median())
dc_listings['bedrooms'] = dc_listings['bedrooms'].fillna(dc_listings['bedrooms'].median())
dc_listings.isnull().sum()

id                                   0
last_scraped                         0
description                         73
host_since                           0
host_is_superhost                    0
host_listings_count                  0
host_total_listings_count            0
host_has_profile_pic                 0
host_identity_verified               0
neighbourhood_cleansed               0
smart_location                       0
latitude                             0
longitude                            0
is_location_exact                    0
property_type                        0
room_type                            0
accommodates                         0
bathrooms                            0
bedrooms                             0
beds                                 0
bed_type                             0
amenities                            0
price                                0
guests_included                      0
extra_people                         0
minimum_nights                       0
maximum_nights                       0
calendar_updated                     0
has_availability                     0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
calendar_last_scraped                0
number_of_reviews                    0
requires_license                     0
instant_bookable                     0
is_business_travel_ready             0
cancellation_policy                  0
require_guest_profile_picture        0
require_guest_phone_verification     0
calculated_host_listings_count       0
dtype: int64

Intuitively, what amenities the place has is an important considering when deciding on the accommodation, and it should have some impact on the price.

In [19]:
dc_listings['amenities'].head(10)

0    {TV,Internet,Wifi,"Air conditioning",Kitchen,"...
1    {TV,Internet,Wifi,Kitchen,"Free parking on pre...
2    {Internet,Wifi,Kitchen,"Free street parking","...
3    {"Cable TV","Air conditioning",Heating,"Smoke ...
4    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
5    {TV,Wifi,"Air conditioning",Kitchen,"Pets live...
6    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
7    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
8    {Internet,Wifi,"Air conditioning",Kitchen,"Fre...
9    {TV,"Cable TV",Internet,Wifi,"Air conditioning...
Name: amenities, dtype: object

In [20]:
dc_listings['amenities'].str.strip('{}').str.replace('"','').str.split(',').str.join('|').str.get_dummies()

,toilet,24-hour check-in,Accessible-height bed,Accessible-height toilet,Air conditioning,Amazon Echo,BBQ grill,Baby bath,Baby monitor,Babysitter recommendations,...,Wide clearance to bed,Wide clearance to shower,Wide doorway,Wide entryway,Wide hallway clearance,Wifi,Window guards,Wine cooler,translation missing: en.hosting_amenity_49,translation missing: en.hosting_amenity_50
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
6,0,1,0,0,1,0,1,0,0,1,...,1,0,1,1,1,1,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
8,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
10,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
12,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
14,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
15,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
17,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
19,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
20,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
22,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
23,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
24,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
25,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
26,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
27,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
28,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
29,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9339,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9340,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9342,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9343,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9344,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9345,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9346,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9347,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9348,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9349,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9350,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9351,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9352,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9353,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9354,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9355,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9356,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9357,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9358,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9359,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9360,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9361,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9362,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9363,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9364,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9365,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9367,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9368,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

Convert 'price' and 'extra_people' to  the numerical value

In [221]:
dc_listings['price'].str.replace('$','').str.replace(',','').astype(float)
dc_listings['extra_people'] = dc_listings['extra_people'].str.replace('$','').astype(float)

In [223]:
dc_listings['calendar_updated'].unique()
dc_listings['calendar_updated'].str.contains('weeks ago')
dc_listings.loc[dc_listings['calendar_updated'].str.contains('days ago'), 'calendar_updated'] = dc_listings.loc[dc_listings['calendar_updated'].str.contains('days ago'), 'calendar_updated'].str.replace(' days ago', '').astype(float)*1
dc_listings['calendar_updated'].str.contains('weeks ago')
#dc_listings.loc[dc_listings['calendar_updated'].str.contains('weeks ago'), 'calendar_updated']
#dc_listings.loc[dc_listings['calendar_updated'].str.contains('months ago'), 'calendar_updated'] = dc_listings.loc[dc_listings['calendar_updated'].str.contains('months ago'), 'calendar_updated'].str.replace(' months ago', '').astype(float)*30

0         NaN
1        True
2        True
3       False
4       False
5        True
6       False
7       False
8       False
9       False
10      False
11       True
12       True
13      False
14       True
15        NaN
16      False
17       True
18      False
19      False
20      False
21      False
22        NaN
23       True
24        NaN
25      False
26      False
27      False
28      False
29      False
        ...
9339      NaN
9340      NaN
9341      NaN
9342    False
9343      NaN
9344      NaN
9345      NaN
9346      NaN
9347      NaN
9348    False
9349    False
9350    False
9351    False
9352    False
9353    False
9354    False
9355    False
9356    False
9357    False
9358    False
9359    False
9360    False
9361    False
9362    False
9363    False
9364    False
9365    False
9366    False
9367    False
9368    False
Name: calendar_updated, Length: 9368, dtype: object

In [226]:
dc_listings['calendar_updated'].head(20)

0                 2
1       3 weeks ago
2       3 weeks ago
3     28 months ago
4         yesterday
5       3 weeks ago
6        1 week ago
7     18 months ago
8      2 months ago
9             today
10     2 months ago
11      2 weeks ago
12      3 weeks ago
13        yesterday
14      3 weeks ago
15                6
16     2 months ago
17      3 weeks ago
18     2 months ago
19            today
Name: calendar_updated, dtype: object

In [146]:
dc_listings['calendar_updated'].head(10)

0     2 days ago
1    3 weeks ago
2    3 weeks ago
3            840
4      yesterday
5    3 weeks ago
6     1 week ago
7            540
8             60
9          today
Name: calendar_updated, dtype: object

In [119]:
rpl_list = ['days ago', 'weeks ago', 'months ago', ]
for rpl in rpl_list:
    dc_listings['calendar_updated'] = dc_listings['calendar_updated'].str.replace(rpl,'')
dc_listings['calendar_updated'].unique()

array(['2 ', '3 ', '28 ', 'yesterday', '1 week ago', '18 ', 'today', '6 ',
       '4 ', '5 ', '8 ', '13 ', '7 ', '11 ', '10 ', '9 ', 'a week ago',
       '34 ', '81 ', '12 ', '32 ', '25 ', '22 ', 'never', '30 ', '35 ',
       '56 ', '14 ', '19 ', '31 ', '23 ', '17 ', '21 ', '24 ', '33 ',
       '29 ', '27 ', '15 ', '16 ', '45 ', '48 ', '49 ', '38 ', '36 ',
       '41 ', '47 ', '20 ', '46 ', '39 ', '26 ', '52 ', '42 ', '44 ',
       '37 ', '43 ', '40 '], dtype=object)

In [ ]:
{'today':0, 'yesterday':1, 'never':1000}

#### Calendar Data
Let's now look at the calendar data

In [103]:
dc_calendar.head(10)

            listing_id available    price
date
2019-09-18        3362         t  $433.00
2019-09-17        3362         t  $433.00
2019-09-16        3362         t  $433.00
2019-09-15        3362         t  $433.00
2019-09-14        3362         t  $450.00
2019-09-13        3362         t  $450.00
2019-09-12        3362         t  $433.00
2019-09-11        3362         t  $433.00
2019-09-10        3362         t  $433.00
2019-09-09        3362         t  $433.00

In [104]:
dc_calendar.isnull().sum()

listing_id          0
available           0
price         2114655
dtype: int64

There are many null entries for price. This is because when the property is not avaialbe for rent (i.e. available column ='f'), the price is null. We can these rows. Also, since whenever there's price, it's always available, so we do not need 'available' column. The price column is string with $ sign again (same as listing data), so we convert it to numerical value.

In [105]:
dc_calendar = dc_calendar.dropna(axis=0)
dc_calendar = dc_calendar.drop(['available'],axis=1)
dc_calendar['price'] = dc_calendar['price'].str.replace('$','').str.replace(',','').astype(float)
dc_calendar.head()

            listing_id  price
date
2019-09-18        3362  433.0
2019-09-17        3362  433.0
2019-09-16        3362  433.0
2019-09-15        3362  433.0
2019-09-14        3362  450.0

Now we are interested in how the average price varies between the dates. We can take use groupby function of pandas, and group by 'date' column to take the average. At the same time, we are not interested in particular listing, so we can drop the listing_id columns.

In [106]:
dc_calendar_date = dc_calendar.groupby('date').mean()
dc_calendar_date.drop('listing_id',axis=1, inplace=True)
dc_calendar_date.head()

                 price
date
2018-11-15  245.773449
2018-11-16  239.419498
2018-11-17  239.675428
2018-11-18  214.371325
2018-11-19  207.908384

Now if we look at the value counts below, some dates only have 1 listing. It does not make sense to take an average of 1 listing, so we will drop those dates.

In [111]:
dc_calendar.groupby('date').count()

            listing_id  price
date
2018-11-15        1386   1386
2018-11-16        2031   2031
2018-11-17        2397   2397
2018-11-18        3299   3299
2018-11-19        3471   3471
2018-11-20        3313   3313
2018-11-21        2931   2931
2018-11-22        2858   2858
2018-11-23        2947   2947
2018-11-24        3429   3429
2018-11-25        4080   4080
2018-11-26        4278   4278
2018-11-27        4309   4309
2018-11-28        4290   4290
2018-11-29        4213   4213
2018-11-30        4077   4077
2018-12-01        4066   4066
2018-12-02        4334   4334
2018-12-03        4405   4405
2018-12-04        4396   4396
2018-12-05        4423   4423
2018-12-06        4320   4320
2018-12-07        4183   4183
2018-12-08        3792   3792
2018-12-09        3189   3189
2018-12-10        3061   3061
2018-12-11        3055   3055
2018-12-12        3091   3091
2018-12-13        3139   3139
2018-12-14        3619   3619
...                ...    ...
2019-10-22        2804   2804
2019-10-23        2803   2803
2019-10-24        2804   2804
2019-10-25        2805   2805
2019-10-26        2812   2812
2019-10-27        2814   2814
2019-10-28        2816   2816
2019-10-29        2812   2812
2019-10-30        2817   2817
2019-10-31        2817   2817
2019-11-01        2820   2820
2019-11-02        2821   2821
2019-11-03        2819   2819
2019-11-04        2819   2819
2019-11-05        2820   2820
2019-11-06        2822   2822
2019-11-07        2822   2822
2019-11-08        2821   2821
2019-11-09        2823   2823
2019-11-10        2822   2822
2019-11-11        2821   2821
2019-11-12        2824   2824
2019-11-13        2827   2827
2019-11-14        2827   2827
2019-11-15           1      1
2019-11-16           1      1
2019-11-17           1      1
2019-11-18           1      1
2019-11-19           1      1
2019-11-20           1      1

[371 rows x 2 columns]

In [112]:
dc_calendar_date = dc_calendar_date.drop(pd.date_range('2019-11-15', '2019-11-20'), errors='ignore')

In [113]:
dc_calendar_date['price'].describe()

count    365.000000
mean     210.271789
std       11.499001
min      180.367550
25%      202.383122
50%      210.667733
75%      217.683515
max      247.709002
Name: price, dtype: float64